/* ------------------------------- */
/* Reset Properties */

@import 'reset.css';

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* ------------------------------- */
/* Grid Properties */

.container {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;

  background-color: white;
}

.row {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;

  background-color: blueviolet;
}

/*
Around 1200px
.col-xl

Around 992px
.col-bg

Around 778
.col-md

Less than 778px
.col-sm
*/

[class^="col-"] {
  margin: 0 1rem;
  &:nth-of-type(1) {
    margin-left: 0;
  }
  &:nth-last-of-type(1) {
    margin-right: 0;
  }
}

/* Column Sizes */
[class^="col"][class$="-1"] {
  width: (100% / 12);
}
[class^="col"][class$="-2"] {
  width: ((100% / 12) * 2);
}
[class^="col"][class$="-3"] {
  width: ((100% / 12) * 3);
}
[class^="col"][class$="-4"] {
  width: ((100% / 12) * 4);
}
[class^="col"][class$="-5"] {
  width: ((100% / 12) * 5);
}
[class^="col"][class$="-6"] {
  width: ((100% / 12) * 6);
}
[class^="col"][class$="-7"] {
  width: ((100% / 12) * 7);
}
[class^="col"][class$="-8"] {
  width: ((100% / 12) * 8);
}
[class^="col"][class$="-9"] {
  width: ((100% / 12) * 9);
}
[class^="col"][class$="-10"] {
  width: ((100% / 12) * 10);
}
[class^="col"][class$="-11"] {
  width: ((100% / 12) * 11);
}
[class^="col"][class$="-12"] {
  width: 100%;
}
